@model T1809E_Project_Sem3.Models.Order

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared_Admin/_Layout.cshtml";
}

<div class="wrapper">
    <section class="panel">
        <header class="panel-heading">
            Role Table
        </header>
        <div class="panel-body">
            <div class="btn-group" style="margin-bottom: 1%">
                <a href="@Url.Action("Create","Create")" class="btn btn-primary">
                    Create New &nbsp;
                    <i class="fa fa-plus"></i>
                </a>

            </div>
            <hr />
            <table class="table table-dark">

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalPrice)
                    </th>

                    <td>

                        @Html.DisplayFor(model => model.TotalPrice)
                    </td>

                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Discount)
                    </th>

                    <td>

                        @Html.DisplayFor(model => model.Discount)
                    </td>

                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerName)
                    </th>

                    <td>

                        @Html.DisplayFor(model => model.CustomerName)
                    </td>

                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>

                    <td>

                        @Html.DisplayFor(model => model.Address)
                    </td>

                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Phone)
                    </th>

                    <td>

                        @Html.DisplayFor(model => model.Phone)
                    </td>

                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>

                    <td>

                        @Html.DisplayFor(model => model.Email)
                    </td>

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Gender)
                    </th>

                    <td>

                        @Html.DisplayFor(model => model.Gender)
                    </td>

                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedAt)
                    </th>

                    <td>

                        @Html.DisplayFor(model => model.CreatedAt)
                    </td>

                </tr>
               
               
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>

                    <td>

                        @Html.DisplayFor(model => model.Status)
                    </td>

                </tr>
            </table>
              
                   

                    

                   

                    

                    

                   

                    

                   

                   

                    
                   

                <table class="table">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Product Name</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>UnitPrice</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OrderDetails)
                        {
                            <tr>
                                <td>@item.OrderId</td>
                                <td>@item.Product.Name</td>
                                <td>@item.Quantity</td>
                                <td>@item.UnitPrice</td>
                                <td>
                                    @{
                                        var TotalPrice = String.Format("{0:N0}", item.UnitPrice * item.Quantity);
                                    }
                                    @TotalPrice $
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Total Price</th>
                            <th></th>
                            <th>
                                @{
                                    var temp = Model.OrderDetails;
                                    var total = String.Format("{0:N0}", temp.Sum(x => x.UnitPrice * x.Quantity));
                                }
                                @total $
                            </th>
                        </tr>
                    </tfoot>
                </table>
        </div>
    </section>
</div>

    



