@model  IEnumerable<T1809E_Project_Sem3.Models.Product>
@using T1809E_Project_Sem3.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared_Client/_Layout.cshtml";
}


<div class="body-content outer-top-vs" id="top-banner-and-menu">
    <div class="container">
        <div class="row">
          
                <!-- ================================== TOP NAVIGATION ================================== -->
                <!-- /.side-menu -->
                <!-- ================================== TOP NAVIGATION : END ================================== -->

                <div class="col-lg-12 col-sm-12 col-md-9">
                    <div id="hero">
                        <div id="owl-main" class="owl-carousel owl-inner-nav owl-ui-sm">
                            <div class="item" style="background-image: url(assets/images/sliders/02.jpg);">
                                <div class="container-fluid">
                                    <div class="caption bg-color vertical-center text-left">
                                        <div class="slider-header fadeInDown-1">Top Brands 2018</div>
                                        <div class="big-text fadeInDown-1">Digital <span class="highlight">Watch</span></div>
                                        <div class="excerpt fadeInDown-2 hidden-xs"> <span>Get 50% off on selected items</span> </div>
                                        <div class="button-holder fadeInDown-3"> <a href="index6c11.html?page=single-product" class="btn-lg btn btn-uppercase btn-primary shop-now-button">Shop Now</a> </div>
                                    </div>
                                    <!-- /.caption -->
                                </div>
                                <!-- /.container-fluid -->
                            </div>
                            <!-- /.item -->

                            <div class="item" style="background-image: url(assets/images/sliders/01.jpg);">
                                <div class="container-fluid">
                                    <div class="caption bg-color vertical-center text-left">
                                        <div class="slider-header fadeInDown-1">Spring 2018</div>
                                        <div class="big-text fadeInDown-1"> Modern <span class="highlight">Chair</span> </div>
                                        <div class="excerpt fadeInDown-2 hidden-xs"> <span>Nemo enim ipsam voluptatem quia <br> voluptas sit aspernatur.</span> </div>
                                        <div class="button-holder fadeInDown-3"> <a href="index6c11.html?page=single-product" class="btn-lg btn btn-uppercase btn-primary shop-now-button">Shop Now</a> </div>
                                    </div>
                                    <!-- /.caption -->
                                </div>
                                <!-- /.container-fluid -->
                            </div>
                            <!-- /.item -->

                        </div>
                        <!-- /.owl-carousel -->
                    </div>
                </div>
            </div>
        

        <!-- ============================================== banners ============================================== -->

        <!-- /.wide-banners -->
        <!-- ============================================== banners : END ============================================== -->
        <!-- ============================================== SCROLL TABS ============================================== -->
        <div id="product-tabs-slider" class="scroll-tabs outer-top-vs wow fadeInUp">
            <div class="more-info-tab clearfix ">
                <h3 class="new-product-title pull-left">New Products</h3>
                <ul class="nav nav-tabs nav-tab-line pull-right" id="new-products-1">
                    <li class="active"><a data-transition-type="backSlide" href="#all" data-toggle="tab">All</a></li>
                    <li><a data-transition-type="backSlide" href="#smartphone" data-toggle="tab">Clothing</a></li>
                    <li><a data-transition-type="backSlide" href="#laptop" data-toggle="tab">Electronics</a></li>
                    <li><a data-transition-type="backSlide" href="#apple" data-toggle="tab">Shoes</a></li>
                </ul>
                <!-- /.nav-tabs -->
            </div>
            <div class="tab-content">
                <div class="tab-pane in active" id="all">
                    <div class="product-slider">
                        <div class="owl-carousel home-owl-carousel custom-carousel owl-theme" data-item="4">
                            @foreach (var item in Model)
                            {
                                <div class="item item-carousel">
                                    <div class="products">
                                        <div class="product">
                                            <div class="product-image">
                                                <div class="image"> <a href="detail.html"><img src="@item.GetDefaultThumbnails()" alt=""></a> </div>
                                                <!-- /.image -->

                                                <div class="tag new"><span>new</span></div>
                                            </div>
                                            <!-- /.product-image -->

                                            <div class="product-info text-left">
                                                <h3 class="name"><a href="detail.html"> @item.Name</a></h3>
                                                <div class="rating rateit-small"></div>
                                                <div class="description"></div>
                                                <div class="product-price">
                                                    <span class="price"> @item.Price $ </span>
                                                    <span class="price-before-discount">$800</span>
                                                </div>
                                                <!-- /.product-price -->

                                            </div>
                                            <!-- /.product-info -->
                                            <div class="cart clearfix animate-effect">
                                                <div class="action">
                                                    <ul class="list-unstyled">
                                                        <li class="add-cart-button btn-group">
                                                            <a href="/ShoppingCart/AddItem/@item.Id">
                                                                <button data-toggle="tooltip" class="btn btn-primary icon" type="button" title="Add Cart"> <i class="fa fa-shopping-cart"></i> </button>
                                                                <button class="btn btn-primary cart-btn" type="button">Add to cart</button>
                                                            </a>

                                                        </li>
                                                        <li class="lnk wishlist"> <a data-toggle="tooltip" class="add-to-cart" href="detail.html" title="Wishlist"> <i class="icon fa fa-heart"></i> </a> </li>
                                                        <li class="lnk"> <a data-toggle="tooltip" class="add-to-cart" href="detail.html" title="Compare"> <i class="fa fa-signal" aria-hidden="true"></i> </a> </li>
                                                    </ul>
                                                </div>
                                                <!-- /.action -->
                                            </div>
                                            <!-- /.cart -->
                                        </div>
                                        <!-- /.product -->

                                    </div>
                                    <!-- /.products -->
                                </div>
                                <!-- /.item -->
                            }



                        </div>
                        <!-- /.home-owl-carousel -->
                    </div>
                    <!-- /.product-slider -->
                </div>
                <!-- /.tab-pane -->


            </div>
            <!-- /.tab-content -->
        </div>
        <!-- /.scroll-tabs -->
        <!-- ============================================== SCROLL TABS : END ============================================== -->

    </div>


    <div class="bestsellers1">
        <div class="bestseller">
            <div class="container">
                <div>

                    <div class="category-product">
                        <div class="new_title">
                         
                        </div>
                    </div>

                    <div class="product-bestseller row">
                        <div class="product-bestseller-content">
                            <div class="col-md-6 col-xs-12 hot-deal-box">
                                <div class="hot-deal">
                                    <div class="item">
                                        <div class="item-inner">
                                            <div class="item-img">
                                                <div class="item-img-info">
                                                    <div class="link-quickview"><a href="#" class="quick-view"><i class="fa fa-eye"></i></a></div>
                                                    <div class="product-cartitem">1</div>
                                                    <a class="product-image" title="Retis lapen casen" href="product_detail.html"> <img src="~/ClientTemplate/assets/images/products/p20.jpg" alt=""> </a>


                                                    <div class="box-timer">
                                                        <div class="countbox_2 timer-grid"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-info">
                                                <div class="info-inner">
                                                    <div class="item-title"> <a title="Retis lapen casen" href="product_detail.html">Floral Print shirt Buttoned</a> </div>
                                                    <div class="rating rateit-small"></div>
                                                    <div class="product-item-description">You won't know what you like best about the Antonia Racer Tank: soft, stretchy,  Super-cute...</div>
                                                    <div class="item-content">
                                                        <div class="item-price">
                                                            <div class="price-box">
                                                                <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> $156.00 </span> </p>
                                                                <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> $167.00 </span> </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="quantity-adder">

                                                        <input type="text" class="input-text qty" title="Qty" value="1" maxlength="12" id="qty" name="qty">
                                                        <button onClick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty )) result.value++;return false;" class="increase items-count" type="button"><i class="fa fa-plus">&nbsp;</i></button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12 por-tabs">


                                <ul class="nav navbar-nav">
                                    
                                

                                </ul>

                                <div class="product-bestseller-list">
                                    <div class="tab-container">


                                        <!-- tab product -->
                                        <div class="tab-panel active" id="tab-1">
                                            <div class="category-products">

                                                <ul class="products-grid">
                                                    @foreach (var item in Model)
                                                    {
                                                        if (item.CategoryID == 1)
                                                        {
                                                            <li class="item col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                <div class="item-inner">
                                                                    <div class="item-img">
                                                                        <div class="product-cartitem">1</div>
                                                                        <a class="product-image" title="Retis lapen casen" href="product_detail.html"> <img src="@item.GetDefaultThumbnails()" alt=""> </a>

                                                                    </div>
                                                                    <div class="item-info">
                                                                        <div class="info-inner">
                                                                            <div class="item-title"> <a title="Retis lapen casen" href="product_detail.html">@item.Name</a> </div>
                                                                            <div class="item-content">
                                                                                <div class="item-price">
                                                                                    <div class="price-box">
                                                                                        <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> @item.Price $ </span> </p>
                                                                                        <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> $167.00 </span> </p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        }
                                                    }

                                                </ul>
                                            </div>
                                        </div>
                                        <!-- tab product -->
                                        <div class="tab-panel active" id="tab-2">
                                            <div class="category-products">

                                                <ul class="products-grid">
                                                    @foreach (var item in Model)
                                                    {
                                                        if (item.CategoryID == 3)
                                                        {
                                                            <li class="item col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                <div class="item-inner">
                                                                    <div class="item-img">
                                                                        <div class="product-cartitem">1</div>
                                                                        <a class="product-image" title="Retis lapen casen" href="product_detail.html"> <img src="@item.GetDefaultThumbnails()" alt=""> </a>

                                                                    </div>
                                                                    <div class="item-info">
                                                                        <div class="info-inner">
                                                                            <div class="item-title"> <a title="Retis lapen casen" href="product_detail.html">Floral Print shirt Buttoned</a> </div>
                                                                            <div class="item-content">
                                                                                <div class="item-price">
                                                                                    <div class="price-box">
                                                                                        <p class="special-price"> <span class="price-label">@item.Price $</span> <span class="price"> $156.00 </span> </p>
                                                                                        <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> $167.00 </span> </p>
                                                                                    </div>
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        }
                                                    }

                                                </ul>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="container">

        <!-- /.row -->
        <!-- ============================================== BRANDS CAROUSEL : END ============================================== -->
    </div>
    <!-- /.container -->
</div>
<!-- /#top-banner-and-menu -->

@{ if ((string)TempData["message"] == "success")
    {
        <script type="text/javascript">
            Swal.fire({
                icon: 'success',
                title: 'Order Successfuly!',
                text: 'We will contact you soon!'
            })
        </script>
        }
    }