@model PagedList.IPagedList<T1809E_Project_Sem3.Models.Product>
@using PagedList.Mvc;
@using T1809E_Project_Sem3.Models
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Men";
    Layout = "~/Views/Shared_Client/_Layout.cshtml";
}


<!-- shop-area start -->
<div class="container-fluid">
    <div class="accessories-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="left-content pt-40">

                        <div class="content-box">
                            <h2>price</h2>
                            <p>
                                <label for="amount">Range:</label>
                                <input type="text" id="amount" readonly="">
                            </p>
                            <div id="slider-range"></div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">



                    @using (Html.BeginForm("Men", "Client", FormMethod.Get, new { @name = "search-form" }))
                    {

                        <input type="hidden" name="sortOrder" value="" />


                        <div class="main_wraper pt-40">
                            <div class="control-bar row">
                                <div class="dropdown col-md-3">
                                    <button class="dropbtn">Sort by <i class="fa fa-caret-down"></i></button>
                                    <div class="dropdown-content">
                                        @Html.ActionLink("Price Ascending", "Men", new { sortOrder = "price-asc" })
                                        @Html.ActionLink("Price Descending", "Men", new { sortOrder = "price-desc" })
                                        @Html.ActionLink("Name Ascending", "Men", new { sortOrder = "price-desc" })
                                        @Html.ActionLink("Name Descending", "Men", new { sortOrder = "price-desc" })
                                    </div>
                                </div>

                                @using (Html.BeginForm("Men", "Client", FormMethod.Get, new { @name = "search-form" }))
                                {
                                    <div class="input-group col-md-6 m-bot15" style="float:left;width:44%">
                                        <span class="input-group-btn">
                                            @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Name. . . " })
                                            <button class="btn btn-default" type="submit" style="height:34px"> Search <i class="fa fa-search"></i></button>
                                        </span>
                                    </div>

                                }

                                <ul class="promo col-md-3" role="tablist">
                                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-th-large" aria-hidden="true"></i></a></li>
                                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-th-list" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="home">
                                <div class="row">
                                    @foreach (var item in Model)
                                    {
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                            <div class="single-item">
                                                <div class="product-img">
                                                    <a href="#"><img src="@item.GetDefaultThumbnails()" alt="product"></a>
                                                    <div class="product-action">
                                                        <ul>
                                                            <li><a href="#" title="Add to cart"><i class="fa fa-shopping-cart"></i></a></li>
                                                            <li><a href="#" title="Add to wishlist"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                                                            <li><a href="#" title="Add to compare"><i class="fa fa-bar-chart" aria-hidden="true"></i></a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="hook-reviews">
                                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                                        <i class="fa fa-star-o black" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                                <div class="product-content">
                                                    <a href=""><h5>  </h5></a>
                                                    <p class="manufacturer_name"> @item.Name</p>
                                                    <div class="price">
                                                        <p>@item.Price $</p>
                                                    </div>
                                                    <a class="add-button" href="#">+add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="profile">
                                <div class="row">
                                    @foreach (var item in Model)
                                    {
                                        <div class="single-list mtb-30">
                                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                                <div class="single-item">
                                                    <div class="product-img">
                                                        <a href="#"><img src="@item.GetDefaultThumbnails()" alt="product"></a>
                                                        <div class="product-action">
                                                            <ul>
                                                                <li><a href="#" title="Add to cart"><i class="fa fa-shopping-cart"></i></a></li>
                                                                <li><a href="#" title="Add to wishlist"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                                                                <li><a href="#" title="Add to compare"><i class="fa fa-bar-chart" aria-hidden="true"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                                <div class="product-content-2">
                                                    <a href="#"><h5> @item.Name </h5></a>
                                                    @*<p class="manufacturer_name"> Dolce & Gabbana</p>*@
                                                    <div class="hook-reviews">
                                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                                        <i class="fa fa-star-o black" aria-hidden="true"></i>
                                                        <span> | </span> <span> 1 Review(s)</span>
                                                    </div>
                                                    <div class="price">
                                                        <p>@item.Price $</p>
                                                    </div>
                                                    <p class="details">@item.Description</p>
                                                    <a class="add-button" href="#">+add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    }


                                </div>
                            </div>
                        </div>

                    }
                    <div>
                        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                        @Html.PagedListPager(Model, page => Url.Action("Men",
                            new { page }))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- shop-area end -->
