@model IEnumerable<T1809E_Project_Sem3.Models.UserCustomerViewModel>
@using T1809E_Project_Sem3.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared_Admin/_Layout.cshtml";
}

<h2>Index</h2>
<div class="wrapper">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    Product Table

                </header>
                <div class="panel-body">
                    <div class="btn-group" style="margin-bottom: 1%">
                        <a href="@Url.Action("Create","Customers")" class="btn btn-primary">
                            Create New &nbsp;
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                    <div class="adv-table padding row">
                        <table class="display table table-bordered table-striped col-md-11">
                            <tr>
                                <th>
                                   Name
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Address)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Gender)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CreatedAt)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Customer_Type)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Gender)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedAt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Customer_Type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>

                            <td>
                                <a href="@Url.Action("Edit", "Customers", new { id = item.Id })" class="btn btn-sm btn-light" style="background-color:lightblue"><i class="fa fa-pencil"></i></a> |
                                <a href="@Url.Action("Details", "Customers", new { id = item.Id })" class="btn btn-sm btn-light" style="background-color:lightgreen"><i class="fa fa-info-circle"></i></a>  |

                                <button type="button" class="btn btn-sm btn-danger  " data-toggle="modal" data-target="#myModal_@item.Id">
                                    <i class="fa fa-trash"></i>
                                </button>


                                <div class="modal" id="myModal_@item.Id">
                                    <div class="modal-dialog">
                                        <div class="modal-content">

                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                                <h4 class="modal-title">Message</h4>

                                            </div>

                                            <!-- Modal body -->
                                            <div class="modal-body">
                                                <span>Are your sure delete</span> <span class="text-uppercase" style="text-decoration: underline; font-weight: bold">@item.UserName </span> ?
                                            </div>

                                            <!-- Modal footer -->
                                            <div class="modal-footer">
                                                <!-- Cỏntroller -->
                                                @using (Html.BeginForm("Delete", "Customers", new { id = item.Id }))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    <input type="submit" value="Delete" class="btn btn-default btn-danger" />
                                                    <input type="button" class=" btn btn-default " data-dismiss="modal" value="Cancel" />
                                                }


                                            </div>

                                        </div>





                                    </div>
                                </div>
                            </td>
                        </tr>
                            }

                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

