@model T1809E_Project_Sem3.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared_Admin/_Layout.cshtml";
}

<div class="wrapper">

    <section class="panel">
        <header class="panel-heading">
            Detail Product
        </header>

        <div class="panel-body">
            <div>
                <h4>Product @Model.Name</h4>
                <hr />
                <table class="table table-dark">

                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>

                        <td>

                            @Html.DisplayFor(model => model.Name)
                        </td>

                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>

                        <td>

                            @Html.DisplayFor(model => model.Price)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Category
                        </th>

                        <td>

                            @Html.DisplayFor(model => model.category.Name)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>

                        <td>

                            @Html.DisplayFor(model => model.Status)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>

                        <td>

                            @Html.DisplayFor(model => model.Description)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Thumbnails)
                        </th>

                        <td>

                            <img src="@Model.GetDefaultThumbnails()" alt="Thumbnail" class="img-thumbnail" width="300" height="300" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>

                        <td>

                            @Html.DisplayFor(model => model.Price)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Discount)
                        </th>

                        <td>

                            @Html.DisplayFor(model => model.Discount)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.CreateAt)
                        </th>

                        <td>

                            @Html.DisplayFor(model => model.CreateAt)
                        </td>
                    </tr>

                </table>
                


                    @*<dt>
                            @Html.DisplayNameFor(model => model.CreateBy.Email)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CreateBy.Email)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.DeleteBy.Email)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DeleteBy.Email)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.UpdateBy.Email)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UpdateBy.Email)
                        </dd>*@

                   

                    
                    
            </div>
        </div>
        <ul class="pager">
            <li>@Html.ActionLink("Edit ", "Edit", new { id = Model.Id })</li>
            <li>@Html.ActionLink("Back to List", "Index")</li>

        </ul>
    </section>

</div>


@*<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
