@using System.Collections.Specialized
@using T1809E_Project_Sem3.Models
@model IEnumerable<T1809E_Project_Sem3.Models.RoleViewModel>

@{
    ViewBag.Title = "Index";


    Layout = "~/Views/Shared_Admin/_Layout.cshtml";

 

    var Iconsort = ViewBag.SortIcon;


}

<div class="wrapper">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <h4 class="card-title">Role Table</h4>

        <table class="table">
            <thead>
            <tr>
                <th>
                    @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm })
                    <i class="@Iconsort" aria-hidden="true"></i>
                </th>

                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>

                    <td>
                        <a href="@Url.Action("Edit", "Role", new {id = item.Id})" class="btn btn-sm btn-outline-success border-success"><i class="fa fa-pencil"></i></a>
                        <a href="@Url.Action("Delete", "Role", new {id = item.Id})" class="btn btn-sm btn-outline-danger js-sweetalert border-danger" title="Delete" data-type="confirm"
                           onclick="return confirm('Xóa quyền Admin : @item.Name ')"><i class="fa fa-trash"></i></a>
                    </td>

                </tr>
            }
            </tbody>
        </table>

    </div>










