@using System.Collections.Specialized
@using T1809E_Project_Sem3.Models
@model IEnumerable<T1809E_Project_Sem3.Models.RoleViewModel>

@{
    ViewBag.Title = "Index";
   Layout = "~/Views/Shared_Admin/_Layout.cshtml";
    var Iconsort = ViewBag.SortIcon;

}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="content-wrapper">
    <p class="border-primary">

        <div class="row padding">
            <div class="col-md-7">

            </div>
            <div class="row col-md-5">

                <div class="col-md-9">

                </div>

            </div>

        </div>
    </p>
   
    <div class="grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Role Table</h4>
               
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm })
                                <i class="@Iconsort" aria-hidden="true"></i>
                            </th>

                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>

                                <td>
                                    <a href="@Url.Action("Edit", "Role", new { id = item.Id })" class="btn btn-sm btn-outline-success border-success"><i class="fa fa-pencil"></i></a>
                                    
                                    <button type="button" class="btn btn-sm btn-outline-success border-success " data-toggle="modal" data-target="#myModal">
                                        Delete
                                    </button>
</tr>
                            <div class="modal" id="myModal">
                                <div class="modal-dialog">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Message</h4>

                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <span>Are your sure delete</span>  <span class="text-uppercase" style="text-decoration: underline; font-weight: bold">@item.Name </span> ?
                                        </div>

                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <!-- Cỏntroller -->
                                            @using (Html.BeginForm("Delete", "Role", new { id = item.Id }))
                                            {
                                                <input type="submit" value="Delete" class="btn btn-default btn-danger" />
                                            }
                                            <input type="button" class=" btn btn-default " data-dismiss="modal" value="Cancel" />

                                        </div>

                                    </div>
                                </div>
                            </div>

                        }
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>






